* {
  margin: 0;
}

.heading {
  line-height: 2.2;
}

.show {
  background: url(../assets/key.jpg);
  background-position: center center;
  background-size: cover;
  max-height: 90%;
  margin: 0px;
  padding: 0px 20px;
  opacity: 0.9;
}

.welcomes {
  background: url(../assets/desk2.jpg);
  background-position: center center;
  background-size: cover;
  max-height: 90%;
  padding: 0px 20px;
  opacity: 0.8;
}

.quote {
  background: url(../assets/img.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase {
  display: flex;
  justify-content: space-between;
}
.showcase .img {
  width: 45%;
}

.loading-indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 0 5px;
}

.loading-indicator.loading {
  border-color: #3498db;
  animation: border-spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lastflex {
  color: #a80ccf;
}
.lastflex p:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .show {
    margin: 5px 0px;
    max-height: 400px;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .show h1 {
    font-size: 2.4em;
    line-height: 1.2;
  }
  .quote {
    background: url(../assets/img.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .showcase {
    display: block;
    margin: 0px;
  }
  .showcase .img {
    width: 90%;
  }
  .showcase h1 {
    font-size: 2.4em;
  }
  .showcase p {
    margin-top: 5px;
    font-size: 1em;
  }
  .service {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 5px;
  }
  .footer {
    padding: 0px;
    flex-wrap: wrap;
  }
  .footer .logo, .footer .subscribe, .footer .info {
    padding: 0px;
    margin-bottom: 3rem;
  }
  .lastflex p {
    font-size: 12px;
  }
  .lastflex p:hover {
    text-decoration: underline;
  }
}